@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;

    color: #d5c4a1;
    background-color: #1d2021;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading  {
    padding: 10px;
    font-weight: 700;
}